/*
 *= require_tree .
 *= require_self
 */




/* Application-wide Styles */


body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

a {
	text-decoration: none;
}

main {
	flex: 1 0 auto;
	padding: 2em;
	min-height: 100vh;
}
