/*
 *= require_tree .
 *= require_self
 */




/* Application-wide Styles */
html {
	height: 100vh;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
	text-decoration: none;
}

main {
	padding: 2em;
}
