nav {
	margin-top: 2em;
	text-align: center;

	#logo {
		color: $blue;
		font-size: 4em;
	}

	menu {
		background: $yellow;
		padding: 1.5em;

		a {
			margin: 2em;
			color: $peach;
			text-decoration: bold;
		}
	}
}