nav {
	margin-top: 2em;
	text-align: center;

	#logo a{
		color: $blue;
		font-size: 4em;
	}

	#new-post-link {
		background: $blue;
		color: #fff;
		padding: 1em;
		height: 100%;
	}

	menu {
		background: $yellow;
		padding: 1.5em;

		a {
			margin: 2em;
			color: $peach;
			text-decoration: bold;
		}
	}
}